body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
}
.header {
  width: 100%;
}

.header .container {
  height: 130px;
  padding: 0 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}

.head_text {
  display: flex;
  align-items: baseline;
}

.head_text h2 {
  font-size: 40px;
  font-weight: 900;
  margin-right: 9px;
  transition: all 0.3s;
}

.head_text h2:hover {
  color: #999;
}
.head_text p {
  color: #b7b7b7;
}

.nav {
  position: fixed;
  top: 150px;
  left: 100%;
  width: 30%;
  height: 100vh;
  padding-top: 80px;
  background: transparent;
  transition: all 0.5s;
  text-align: center;
  z-index: 10000;
}

.nav.on {
  left: 70%;
  background: #fff;
}

.nav li a {
  font-size: 30px;
  display: block;
  text-align: center;
  padding: 50px 0;
  border-bottom: 2px solid #999;
}

/* hamburger bar */

.bar {
  position: absolute;
  top: 60px;
  right: 50px;
  width: 56px;
  height: 18px;
  /* background: red; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar span::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  height: 4px;
  width: 100%;
  background: #666;
  transition: top 0.3s, transform 0.3s;
}

.bar span::after {
  content: '';
  position: absolute;
  bottom: -12px;
  right: 0;
  height: 4px;
  width: 80%;
  background: #666;
  transition: bottom 0.3s, transform 0.3s;
}

.bar.on span {
  background: transparent;
}
.bar.on span::before {
  top: 13px;
  transform: rotate(-45deg);
}
.bar.on span::after {
  width: 100%;
  bottom: 0;
  transform: rotate(45deg);
}

/* 타이틀텍스트 */
.title_text {
  display: flex;
  flex-direction: column;
  margin-left: 69px;
}

.title_text h3 {
  padding-top: 30px;
  font-size: 40px;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
}

.title_text p {
  font-size: 20px;
  color: #555;
  line-height: 1.4;
}

/* 필터버튼 */
.filter_btns {
  position: absolute;
  top: 25%;
  right: 3%;
  margin: 0px 0 60px;
}

.filter_btn {
  width: 120px;
  height: 40px;
  color: #222;
  line-height: 40px;
  text-align: center;
  border: 1px solid #222;
  margin: 0 10px;
  outline: none;
  cursor: pointer;
}

.filter_btn.on {
}
