@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  height: 80vh;
  background: url(../images/bg1.png) no-repeat;
}

/* 헤더 */
.header {
  width: 100%;
}

.header .container {
  height: 130px;
  padding: 0 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}

.head_text {
  display: flex;
  align-items: baseline;
}

.head_text h2 {
  font-size: 40px;
  font-weight: 900;
  margin-right: 9px;
}

.head_text p {
  color: #b7b7b7;
}

.nav {
  position: fixed;
  top: 150px;
  left: 100%;
  width: 30%;
  height: 100vh;
  padding-top: 80px;
  background: transparent;
  transition: all 0.5s;
  text-align: center;
  z-index: 10000;
}

.nav.on {
  left: 70%;
  background: #fff;
}

.nav li a {
  font-size: 30px;
  display: block;
  text-align: center;
  padding: 50px 0;
  border-bottom: 2px solid #999;
}

/* hamburger bar */

.bar {
  position: absolute;
  top: 60px;
  right: 50px;
  width: 56px;
  height: 18px;
  /* background: red; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar span::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  height: 4px;
  width: 100%;
  background: #666;
  transition: top 0.3s, transform 0.3s;
}

.bar span::after {
  content: '';
  position: absolute;
  bottom: -12px;
  right: 0;
  height: 4px;
  width: 80%;
  background: #666;
  transition: bottom 0.3s, transform 0.3s;
}

.bar.on span {
  background: transparent;
}
.bar.on span::before {
  top: 13px;
  transform: rotate(-45deg);
}
.bar.on span::after {
  width: 100%;
  bottom: 0;
  transform: rotate(45deg);
}

/* 컨텐츠 */
.content {
  height: 100%;
  position: relative;
  z-index: -1;
}

.wrap {
  position: absolute;
  bottom: 15%;
  right: 10%;
  line-height: 1.4;
}

.wrap h2 {
  color: #1d1d1d;
  font-size: 64px;
  margin-bottom: 15px;
}
.wrap p {
  font-size: 24px;
  color: #555;
}

/* dimm */
.dimm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

.dimm.open {
  display: block;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1266px;
  height: 753px;
  padding: 2rem 3rem;
  background: #fff;
  opacity: 0;
}

.modal.open {
  opacity: 1;
}

.modal .text {
  height: 100%;
}
.modal .pic {
  width: 440px;
  height: 500px;
  background: red;
  margin-left: 60px;
}

.modal h4 {
  font-size: 40px;
  padding: 150px 0 70px;
  font-weight: 700;
}

.modal p {
  font-size: 25px;
  color: #7e7e7e;
  margin-bottom: 22px;
  padding-bottom: 30px;
}

.my_bar {
  width: 110%;
  position: relative;
}

.my_bar li {
  font-size: 20px;
  padding: 20px 0;
  color: #555;
  display: flex;
}

.my_bar span {
  display: block;
  width: 230px;
  height: 11px;
  background: #000;
  border-radius: 10px;
  margin-bottom: 20px;
}

.my_bar .line01 {
  position: absolute;
  top: 14%;
  right: 0;
}

.my_bar .line02 {
  position: absolute;
  top: 49%;
  right: 0;
}

.my_bar .line03 {
  position: absolute;
  bottom: 1%;
  right: 0;
}

.my_bar .line01 nav {
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 10px;
  background: #fff;
  width: 190px;
  height: 9px;
}

.my_bar .line02 nav {
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 10px;
  background: #fff;
  width: 180px;
  height: 9px;
}

.my_bar .line03 nav {
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 10px;
  background: #fff;
  width: 200px;
  height: 9px;
}

.close {
  font-size: 50px;
  top: 0;
  cursor: pointer;
}
