.go_top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 70px;
  height: 70px;
  background: #222;
  opacity: 0.9;
  color: #fff;
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  font-size: 40px;
  text-align: center;
  line-height: 70px;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

/* 페이지 */
.page {
  display: flex;
  justify-content: space-between;
  margin: 150px 0 30px;
}

.page_pic img {
  width: 910px;
  height: 550px;
  background: #333;
}

.page_pic {
  width: 910px;
  height: 550px;
  background: #333;
}

.page_text {
  width: 670px;
  margin: 50px 70px;
}

.page_text h3 {
  font-size: 40px;
  font-weight: 700;
  color: #555;
  margin-bottom: 20px;
}

.page_text p {
  font-size: 20px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 50px;
}

.page .btns {
  display: flex;
  align-items: center;
}

.page .btn {
  border: 1px solid #555;
  width: 200px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  color: #555;
  margin-right: 50px;
  background: #fff;
  transition: all 0.5s;
}

.page .btn:hover {
  color: #fff;
  background: #555;
}

/* contact */

.contact {
  display: flex;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.contact .content {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 460px;
  color: #777;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 700;
  color: #555;
  margin-bottom: 46px;
}

.gform {
  font-size: 18px;
  font-weight: bold;
}

.gform label {
  display: inline-block;
  padding-bottom: 10px;
}

.gform input,
.gform textarea {
  display: block;
  width: 100%;
  padding: 18px;
  font-size: 16px;
  margin-bottom: 30px;
  border: 2px solid #ddd;
  background: #ffff;
  outline: none;
  color: rgb(49, 49, 49);
  transition: background, border 0.5s;
}

.gform input::placeholder,
.gform textarea::placeholder {
  color: #777;
  transition: all 0.5s;
}

.gform input:focus,
.gform textarea:focus {
  border: 2px solid #fff;
  background: rgb(220, 238, 255);
}

.gform input:focus::placeholder,
.gform textarea:focus::placeholder {
  color: transparent;
}

.gform textarea {
  resize: vertical;
}

.btn {
  background: #555;
  color: #fff;
  padding: 12px 30px;
  border: none;
  outline: none;
  cursor: pointer;
}
