body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
}
.header {
  width: 100%;
}

.header .container {
  height: 130px;
  padding: 0 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}

.head_text {
  display: flex;
  align-items: baseline;
}

.head_text h2 {
  font-size: 40px;
  font-weight: 900;
  margin-right: 9px;
  transition: all 0.3s;
}

.head_text h2:hover {
  color: rgb(135, 184, 230);
}
.head_text p {
  color: #b7b7b7;
}

.nav {
  position: fixed;
  top: 0px;
  left: 100%;
  width: 30%;
  height: 100vh;
  padding-top: 250px;
  transition: all 0.5s;
  text-align: center;
  z-index: 10;
}

.nav.on {
  left: 70%;
  background: #fff;
}

.nav li a {
  font-size: 30px;
  display: block;
  text-align: center;
  padding: 50px 0;
  border-bottom: 2px solid #c4c4c4;
  width: 90%;
  margin: 0 auto;
  transition: all 0.5s;
}
.nav li a:hover {
  color: rgb(135, 184, 230);
}

/* hamburger bar */
.bar {
  position: fixed;
  top: 60px;
  right: 50px;
  width: 56px;
  height: 30px;
  /* background: red; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.bar span::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  height: 4px;
  width: 100%;
  background: #666;
  transition: top 0.3s, transform 0.3s;
}

.bar span::after {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 0;
  height: 4px;
  width: 80%;
  background: #666;
  transition: bottom 0.3s, transform 0.3s;
}

.bar.on span {
  background: transparent;
}
.bar.on span::before {
  top: 12px;
  transform: rotate(-45deg);
}
.bar.on span::after {
  width: 100%;
  bottom: 13px;
  transform: rotate(45deg);
}

/* 타이틀텍스트 */
.title_text {
  display: flex;
  flex-direction: column;
  margin-left: 69px;
}

.title_text h3 {
  padding-top: 30px;
  font-size: 40px;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
}

.title_text p {
  font-size: 20px;
  color: #555;
  line-height: 1.4;
}

/* 페이지 */
.page {
  display: flex;
  justify-content: space-between;
  margin: 200px 0;
}

.page_pic img {
  width: 910px;
  height: 550px;
  background: #333;
}

.page_pic {
  border: 1px solid #c4c4c4;
}

.page_pic01 {
  width: 50%;
  height: 550px;
  background: url(../images/coding01.png) no-repeat center/ cover;
}

.page_pic02 {
  width: 50%;
  height: 550px;
  background: url(../images/coding02.png) no-repeat center/ cover;
}

.page_pic03 {
  width: 50%;
  height: 550px;
  background: url(../images/coding03.png) no-repeat center / cover;
}

.page_text {
  width: 43%;
  margin: 50px 70px;
}

.page_text02 {
  text-align: right;
}

.page_text h3 {
  font-size: 40px;
  font-weight: 700;
  color: #555;
  margin-bottom: 20px;
}

.page_text p {
  font-size: 20px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 50px;
}

.page .btns {
  display: flex;
  align-items: center;
}

.page .btns_right {
  display: flex;
  align-items: center;

  float: right;
}

.page .btn {
  border: 1px solid #555;
  width: 200px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  color: #555;
  background: #fff;
  transition: all 0.5s;
}

.page .btns_right .btn {
  margin-left: 50px;
}
.page .btns .btn {
  margin-right: 50px;
}

.page .btn:hover {
  color: #fff;
  background: #555;
}

/* contact */

.contact {
  display: flex;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.contact .content {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 460px;
  color: #777;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 700;
  color: #555;
  margin-bottom: 46px;
}

.gform {
  font-size: 18px;
  font-weight: bold;
}

.gform label {
  display: inline-block;
  padding-bottom: 10px;
}

.gform input,
.gform textarea {
  display: block;
  width: 100%;
  padding: 18px;
  font-size: 16px;
  margin-bottom: 30px;
  border: 2px solid #ddd;
  background: #ffff;
  outline: none;
  color: rgb(49, 49, 49);
  transition: background, border 0.5s;
}

.gform input::placeholder,
.gform textarea::placeholder {
  color: #777;
  transition: all 0.5s;
}

.gform input:focus,
.gform textarea:focus {
  border: 2px solid #fff;
  background: rgb(220, 238, 255);
}

.gform input:focus::placeholder,
.gform textarea:focus::placeholder {
  color: transparent;
}

.gform textarea {
  resize: vertical;
}

.btn {
  background: #555;
  color: #fff;
  padding: 12px 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* dimm, modal */
.dimm {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

.dimm i {
  font-size: 60px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dimm.active {
  display: block;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 300px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}

.modal.active {
  opacity: 1;
  pointer-events: initial;
}

.modal span {
  display: block;
  font-size: 60px;
}

.modal p {
  padding: 20px;
}
